{% extends 'band_portal/base.html' %}
{% load i18n %}

{% block Title %}
{% trans 'Projects' %}
{% endblock %}

{% block SectionTitle %}
{% trans 'Projects' %}
{% endblock %}

{% block AdditionalButtons %}
<div class="btn-toolbar mb-2 mb-md-0">
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url 'band_portal:project_create' %}">{% trans 'Add project' %}</a>
</div>
{% endblock %}

{% block Content %}
<table class="table table-borderless table-striped table-sm">
{% for project in projects %}
    <tr>
        <td>
            <a href="{% url 'band_portal:project' project.slug %}" class="text-dark">
                <span>
                    {{ project.name}}
                </span>
            </a>
        </td>
        <td>
            {% for status_category in project.statuses.all %}
            <span class="{{ status_category.status.styling_class }}"> &#x2B23 </span>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}