{% extends 'band_portal/project_add_base.html' %}
{% load i18n %}

{% block TitleAddition %}
{% trans 'Create task' %}
{% endblock %}

{% block SectionTitleAddition %}
{% trans 'Create task' %}
{% endblock %}

{% block Content %}

<form  method="post">
    {% csrf_token %}
    <div class="row">
        <label>{% trans "Task description" %}</label>
        <textarea class="form-control"  rows="3" name="description"></textarea>
    </div>
    <div>
        {% for user in users %}
        <div class="form-check">
            <input type="checkbox" id="user{{ user.id }}" name="users" value="{{ user.id }}">
            <label for="user{{ user.id }}"> {{ user.first_name }} {{ user.last_name }} </label><br>
        </div>
        {% endfor %}
    </div>
    <div class="row pt-2">
        <button type="submit" class="btn btn-dark">{% trans 'Save' %}</button>
    </div>
</form>


{% endblock %}
