{% extends 'band_portal/base.html' %}
{% load i18n %}

{% block Title %}
{{ project.name }} {% trans 'add tabulature' %}
{% endblock %}

{% block SectionTitle %}
<a class="text-secondary text-decoration-none" href="{% url 'band_portal:projects' %}">{% trans 'Projects| '%}</a>
<a class="text-secondary text-decoration-none" href="{% url 'band_portal:project' project.slug %}">{{ project.name }}| </a> {% trans 'add tabulature' %}
{% endblock %}

{% block AdditionalButtons %}
{% endblock %}

{% block Content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <span class="text-secondary">{% trans 'Select existing tabulature or choose file' %}</span>
        <br />
    </div>
    <div class="row m-2">
        <select name="project_tabulature" id="id_project_tabulature" class="border-bottom border-top-0 border-right-0 border-left-0" >
            <option value="None"> {% trans 'Choose existing tabulature' %} </option>
            {% for tabulature in tabulatures %}
            <option value="{{ tabulature.id }}" {% if tabulature == project.tabulature %} selected {% endif %} >{{ tabulature }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row m-2">
        <label class="btn btn-primary">
            {% trans 'Browse' %}
            <input type="file" name="project_tabulature_file" class="form-control-file form-control-sm m-2" hidden>
        </label>
    </div>
    <div class="row m-2">
        <button type="submit" class="btn btn-dark">{% trans 'Save' %}</button>
    </div>
</form>

{% endblock %}
