{% extends 'registration/baseda.html' %}
{% load i18n %}

{% block Title %}
{% trans 'Change password' %}
{% endblock %}

{% block SectionTitle %}
{% trans 'Change password' %}
{% endblock %}

{% block AdditionalButtons %}
{% endblock %}

{% block Content %}

<h1>Tralalala</h1>
{% if form.errors %}
<p>Your password didn't match requirements. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" >
    {% csrf_token %}
<div class="col-lg-4">
   {{form_edit_password.old_password}}
</div>
<div class="col-lg-4">
   {{form_edit_password.new_password1}}
</div>
<div class="col-lg-4">
  {{form_edit_password.new_password2}}
</div>
</form>




{% endblock %}

